body {
	border-top: 10px solid #AC2B37;
}


.navbar {
	margin-top:20px;
}

.navbar-logo {
	height: 17px;
	width: 53px;
}

.brand {
	padding: 0;
}







.biopic {
	height: 130px;
}



#splash_bg {
	background-image: url('../img/bglogo_opac30.png');
	background-size:340px 340px;
	background-repeat:no-repeat;
	background-position:center; 
}

#splash_content {
	opacity:1.0;
}








#map {
	height: 600px;
}

/* stop bootstrap from breaking google maps */
#map img { 
  max-width: none;
}

#map label { 
  width: auto; display:inline; 
} 






#contact-message {
	height: 300px;
}